.story:before {
  /* content: ''; */
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  background-color: #EEEEEE;
  -webkit-transform: skewY(5deg) translateY(-7.5px);
  transform: skewY(5deg) translateY(-7.5px);
}
