mixin nav(links, selected, navStyle, dir)
  - if (dir === undefined) dir = ".";
  nav#navigation(class=navStyle)
    each l, idx in locals.links
      a.navlink(class=(l.classes ? l.classes : "") class!=(l.classes === undefined ? attributes.class : "") class={ current: idx === selected } href=dir+l.url)!= l.name
